
<!DOCTYPE html>
<html lang="en" class="no-js">
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ shop.businessname }}</title>
</head>
    {% load humanize %}
    {% load static %}
    {% include 'tenantRecords/headscripts.html' %}

	<body>
		<div class="container">
			{% if shop.suitenumber != '0' %}
            <header>
				<h1>Gallarz Investments Ltd <span>The capital Hub - Business Partner Records </span><span>{{ shop.businessname }} - Suite {{ shop.suitenumber }}</span></h1>
                {% include 'tenantRecords/navbar.html' %}

			</header>{% endif %}
        {% if shop.suitenumber == '0' %}
            <header>
				<h1>Gallarz Investments Ltd <span>The capital Hub - Business Partner Records </span><span>{{ shop.businessname }} - Suite {{ shop.number }}</span></h1>
                {% include 'tenantRecords/navbar.html' %}

			</header>{% endif %}
			<div class="component">
                <h1>Tenant Information</h1>
                <table class="">
                    <tbody>

                    <tr><th>Name</th><td>{{ shop.tenant.name }}</td></tr>
                    <tr><th>Number</th><td>{{ shop.tenant.phonenumber }}</td></tr>
                    <tr><th>Address</th><td>{{ shop.tenant.houseaddress }}</td></tr>
                    </tbody>
                </table>

                <h1>Suite Details</h1>
				<table>
                    <tbody>
                        <tr>
                            <th>Suite No</th> <td> {{ shop.businessname }} - Suite {{ shop.suitenumber }}</td>
						</tr><tr>
							<th>Rent</th> <td>{{ shop.rent | floatformat:2| intcomma  }}
						</tr>{% if shop.rent > shop.discountedrent %}<tr>
							<th>Discounted Rent</th> <td>{{ shop.discountedrent | floatformat:2| intcomma  }}
						</tr>{% endif %}{% if shop.discount %}<tr>
							<th>Disount</th> <td>{{ shop.discount | floatformat:2| intcomma }}</td>
						</tr>{% endif %}<tr>
							<th>Service Charge ({% widthratio shop.chargespercentages.servicechargepercentage  1 100 %}%)</th> <td>{{ shop.servicecharge | floatformat:2| intcomma }}
						</tr><tr>
							<th>Legal Fees</th> <td>{{ shop.legalfees | floatformat:2| intcomma }}
						</tr><tr>
							<th>VAT</th> <td>{{ shop.vat | floatformat:2| intcomma }}</td>
						</tr>{% if shop.balancebroughtforward %}
						  <tr>
							<th>Previous Balance</th> <td>{{ shop.balancebroughtforward | floatformat:2| intcomma }}</td>
						</tr>{% endif %}<tr>
							<th>Rate</th> <td>{{ shop.rate | floatformat:2| intcomma }}</td>
						</tr><tr>
							<th>Square Meters</th> <td>{{ shop.squarefeet | floatformat:2| intcomma }}</td>
						</tr><tr>
							<th>Payment Recieved</th> <td style="color: darkolivegreen">{{ shop.paymentrec | floatformat:2| intcomma }}</td>
						</tr><tr>
							<th>Outstanding Payment</th> <td style="color: red">{{ shop.outstandingpayment |floatformat:2 | intcomma }}</td>
						</tr><tr>
							<th>Total</th> <td>{{ shop.totaltobepaid | floatformat:2| intcomma  }}</td>
						</tr><tr>
							<th>Tenancy Renewal Day</th> <td>{{ shop.tenancyenddate  }}</td>
						</tr>

					</tbody>
				</table>

{#                <h1>View Payments Made</h1>#}
{#                <table class="">#}
{#                    <tbody>#}
{#                    <tr>#}
{#                        <td> <a href="{% url 'tenantRecords:statements' shop.number%}"> Payments</a></td>#}
{#                    </tr><tr>#}
{#                        <td> <a href="{% url 'tenantRecords:revisions' shop.number %}"> View Revisions</a></td>#}
{#                    </tr>#}
{#                    </tbody>#}
{#                </table>#}

                <h1>Bank Details For Payment</h1>
                <table class="">
                    <tbody>
                    <tr>
                        <td> Bank Name: GTBank</td>
                    </tr><tr>
                        <td> Account Name: Gallarz Investments Ltd </td>
                    </tr><tr>
                        <td> Account Number: 0477447196 </td>
                    </tr>
                    </tbody>
                </table>

                <table class="">`
                    <tbody>
                    <tr>
                        <td> Please note that The capital Hub is not liable to pay any Government Agencies Bills that are not quoted in this invoice. </td>
                    </tr>
                    </tbody>
                </table>

			</div>

		</div><!-- /container -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
		<script src="{% static "tenantRecords/js/jquery.stickyheader.js" %}"></script>
		<script src="{% static "tenantRecords/js/jquery.ba-throttle-debounce.min.js" %}"></script>
	</body>
</html>