<!DOCTYPE html>
<html>
    {% load humanize %}
    {% load static %}
    {% include 'tenantRecords/headscripts.html' %}

    <head lang="en">
        <meta charset="UTF-8">
        <title>The capital Hub</title>

    </head>

    <body>
    <div class="container">
			<header>
				<h1>The capital Hub <span> Information System </span></h1>
                {% include 'tenantRecords/navbar.html' %}
			</header>

    <h3 style="text-align: center">You have been logged out of Amaro!</h3>
        </div>
    </body>
    </html>